.wy-side-nav-search img.site-logo {
    display: block;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}