{% extends "base.html" %}

<!--Language selector-->
{%- block site_nav %}
  {{ super() }}

  {%- if page and page.file.alternates %}
  <div class="language-selector">
    {%- for lang, file in page.file.alternates.items() | sort %}
      {%- if lang != i18n_page_locale %}
        <a href="{{ file.url | url }}">
            {% if lang == "en" %}English
            {% elif lang == "ja" %}日本語
            {% else %}{{ lang }}
            {% endif %}
        </a>
      {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
{% endblock %}

<!--Site logo-->
{% block site_name %}
<a class="navbar-brand" href="{{ nav.homepage.url|url }}">
  <span class="site-name">{{ config.site_name }}</span>
  {% if config.theme.logo %}
    <img src="{{ config.theme.logo|url }}" alt="{{ config.site_name }}" class="site-logo">
  {% endif %}
</a>
{% endblock %}

<!--Favicon and google search-->
{% block extrahead %}
  {{ super() }}
  <meta name="google-site-verification" content="UR96oWwcq_FRqXclrTIKRbeb9vKB7EIljkiQRfXTbTs" />
  <link rel="icon" type="image/x-icon" href="{{ 'assets/favicon/favicon.ico' | url }}">
{% endblock %}