{% extends "base.html" %}

{%- block site_nav %}
  {{ super() }}

  {%- if page and page.file.alternates %}
  <div class="language-selector">
    {%- for lang, file in page.file.alternates.items() | sort %}
      {%- if lang != i18n_page_locale %}
        <a href="{{ file.url | url }}">{% if lang == "en" %}English{% elif lang == "ja" %}日本語{% else %}{{ lang }}{% endif %}</a>
      {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
{% endblock %}

{% block site_name %}
<a class="navbar-brand" href="{{ nav.homepage.url|url }}">
  <span class="site-name">{{ config.site_name }}</span>
  {% if config.theme.logo %}
    <img src="{{ config.theme.logo|url }}" alt="{{ config.site_name }}" class="site-logo">
  {% endif %}
</a>
{% endblock %}
